.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

.form-check-label input {
    position: relative;
    top: 1px;
}
@media (min-width: var(--large-devices)){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
